.modalWrapper {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    pointer-events: none;
    /*  */
    transition: background .5s;
    background: transparent;
}

.modalWrapperOpen {
    background: #0000004d;
    pointer-events: initial;
}

.modal {
    position: absolute;
    width: max-content;
    height: max-content;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 12px #0000004d;
    /*  */
    transition: transform .2s, opacity .2s;
    transform: scale(0);
    opacity: 0;
}

.modalOpen {
    transition: transform .2s, opacity .2s;
    transform: scale(1);
    opacity: 1;
}
